.blood-bank-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 120px;
}

.search-input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: calc(28% - 28px);

}

.card-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.card-content {
    font-size: 16px;
    color: #666;
}

.card-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.cccard-title {
    color: red;
    font-weight: 700;
    font-size: 30px;
}

#loccation {
    font-size: 28px;
    color: black;
}