.register {
    margin-top: 10px;
}

.loogin {
    margin-top: 100px;
}

.donor-portal {
    display: flex;
    margin-bottom: 300px;
}

.porrtal-header {
    margin-left: 60px;
    margin-top: 200px;
    font-size: 30px;
}

.side-navbar {
    width: 300px;
    background-color: #8a3a3a;
    padding: 40px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 100px;
    z-index: 1000;
    margin-left: -910px;
    position: fixed;
    transition: margin-left 0.3s ease;
    color: aliceblue;
    height: 800px;
}

.donor-portal:hover .side-navbar {
    margin-left: 0px;
    background-color: rgb(126, 37, 37);
}

.side-navbar:hover {
    margin-left: 200px;
    background-color: rgb(126, 37, 37);

}

.side-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-navbar ul li {
    padding: 10px 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.side-navbar ul li:hover {
    background-color: rgb(218, 66, 124);
    border-radius: 5px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.side-navbar ul li a {
    text-decoration: none;
    color: inherit;
    color: antiquewhite;
}

.side-navbar ul li a:hover {
    color: inherit;
}

nav li a {
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cardi {
    width: calc(45% - 50px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}

.portal-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 600px;
    margin-top: 170px;
}

.portal-content {
    text-align: center;

}

.formm-group {
    margin-top: 10px;
}

#home {
    margin-top: 0px;
}

.blloood {
    margin-left: 100px;
    margin-top: 50px;

    font-size: 30px;
    color: rgba(0, 0, 0, 0);

}

.bld {
    margin-top: 20px;
    font-size: 30px;
    color: black;
}

.mmm {
    margin-bottom: 650px;
    font-size: 20px;
}

.formm-group {
    margin-top: 200px;
}

.formm-group label {
    font-size: 20px;
    color: black;

}

.formm-group select,
.formm-group input {
    width: 100%;

    padding: 10px;

    font-size: 16px;

    margin-top: 10px;
}

.formm-group select {
    border-radius: 5px;

}

.formm-group input[type="number"],
.formm-group input[type="text"] {
    border-radius: 5px;

    border: 1px solid #ccc;

}


.donation-history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 500px;
    position: static;
}

.donation-history-table th {
    border: 1px solid #ccc;
    padding: 8px;
    width: 10%;
}

.donation-history-table td {
    border: 1px solid #ccc;
    padding: 8px;
}


.donation-history-table tbody tr:nth-child(odd) {
    background-color: #dd1d67;
}


.donation-history-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.logout-btn {
    margin-top: -300px;
    margin-left: 100px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(247, 111, 134);
    border-radius: 5px;
    top: 200px;

}

.logout-btn:hover {
    background-color: #dd1d67;
    transition: 0.7s;
}


.mmm {
    margin-top: 370px;
}

.ddd {
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(230, 97, 119);
    border-radius: 5px;
    margin-top: 30px;
}

.ddd:hover {
    background-color: #dd1d67;
    transition: 0.7s;
}



.donor-portal {
    width: 20%;
    height: 10px;
    background-image: url('../assets/fnurse1.png');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding-bottom: 1000px;
    margin-left: -40px;
    padding-left: 560px;
}

.mmmmm {
    margin-right: -500px;
}

#yy {
    right: 100px;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}