/* Header.css */
<<<<<<< HEAD
header {
    background-color: #58262609;
=======
.head {
    background-color: #582626;
>>>>>>> d95af75307a16ca7770199407e1e1a44789b9d0d
    color: #fff;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
<<<<<<< HEAD
    top: 10vmin;
    width:100%;

=======
    top: 13vmin;
    width: 100%;
>>>>>>> d95af75307a16ca7770199407e1e1a44789b9d0d

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li {
    margin-left: 10px;
    margin-top: 40px;

}

nav ul li:first-child {
    margin-left: 0;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 40px;

}

nav ul li a:hover {
    transition: 0.7s;

}

.drip {
    color: red;
    font-size: 40px;
    margin-right: 290px;
}

.logo {
    top: 1;
    font-size: 20px;
    margin-top: 1px;
    margin-left: 10px;
}

.bblood {
    font-size: 50px;
    margin-right: 210px;
    margin-top: 0px;
}

.redd {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}